html {
	background-color: white;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
	box-sizing: border-box;
	max-width: 1160px;
	font-size: 16px
}

img {
	margin-left: auto;
	margin-right: auto;
}
button {
    background:none!important;
     border:none; 
     padding:0!important;
     cursor: pointer;
     margin-left:5%;
     margin-right:5%;
  	font-size: 25px;
  	color: #428bca;

}
#btn-home {
	margin-left:8%;
}
.btn-contact {
	margin-right: 0%;
}
#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
  padding: 5%;
  font-size: 25px;
}
#foot-menu ul{
  list-style: none;
}
#foot-menu li{
  display: inline;
  padding: 5%;
  font-size: 25px;
  color: #265277;
}
.container {
	width: 85%;
}

.title {
	position: relative;
	margin:20px;
	box-sizing: border-box;
	color:#131a2d;
	padding:20px;
	width: 100%;
	right:35px;
}


.title-name {
	font-weight:100;
	font-size: 50px;
	position: relative;
	left: 70px;
}
.sub-title {
	position: relative;
	left:60px;
}
.title-image {
	position: relative;
	top:15px;
}
.header-pic {
	position: relative;
	bottom: 20px;
	width:1300px;
	height: 350px 
}
.text-alt {
	color:#84859D;
}

.background-main {
	background-color: rgba(192, 229, 255, 0.21);
} 
.background-alt {
	background-color: #D0C4AB;
}
.jumbotron {
	opacity: 0.88;
}
.image-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}
.body-margin {
	margin:20px;
}
.divide {
	background-color: #9596B3;
}
.footer {
	background-color: rgba(139, 141, 178, 0.75);
}
.footer-button {
	  color: #265277;
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 3em; /* 3x default size */
        }
    h2 {
    	font-size: 1.5em;
    }
    h3 {
    	font-size: 1.5em;
    }
    h4 {
    	font-size: 1.2em;
    }
    h5 {
    	font-size: 1.2em;
    }
    .title-name {
		font-weight:600;
	}
	button {

     margin-left:2%;
     margin-right:2%;
  	font-size: 32px;

	}
	.btn-home {
	margin-left:7%;
	}
	.title-image {
	position: relative;
	top:15px;
	size: 150%;
	}
}